<div class="nav-dark container page-head">
  <div class="row">
    <a [routerLink]="['/']"> <img class="logo" src="/assets/logo.png" /></a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div *ngIf="story" class="col-12">
      <h3>{{ story?.name }}</h3>
      <h2>{{ node?.name }}</h2>
      <img class="node-image" *ngIf="node?.image" src="{{ node.image }}">
      <h3>Story and Notes</h3>
      <div [innerHtml]="node?.description"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div *ngIf="monsters?.length > 0">
        <div class="monster" *ngFor="let monster of monsters">
          <div class="info-card monster-card">
            <div id="collapse-{{ monster.id }}">
              <div id="collapse-{{ monster.id }}">
                <img src="{{ monster.image }}" *ngIf="monster.image">
                <h4>{{ monster.name }}</h4>
                <p>Monster<br />{{ monster.description }}</p>
                <div class="container">
                  <div class="row">
                    <div class="col stats">
                      {{ monster.str }}<br>STR
                    </div>
                    <div class="col stats">
                      {{ monster.dex }}<br>DEX
                    </div>
                    <div class="col stats">
                      {{ monster.int }}<br>INT
                    </div>
                    <div class="col stats">
                      {{ monster.cha }}<br>CHA
                    </div>
                  </div>
                </div>
                <div style="clear: both;"></div>
                <div *ngIf="monster.traits">{{ monster.traits }}</div>
              </div>
            </div>
            <p *ngIf="monster.notes">{{ monster.notes }}</p>
          </div>
        </div>
      </div>

      <div *ngIf="items?.length > 0">
        <div class="items" *ngFor="let item of items">
          <div class="info-card item-card">
            <div id="collapse-{{ item.id }}">
              <div id="collapse-{{ item.id }}">
                <img src="{{ item.image }}" width="224" *ngIf="item.image">
                <h4>{{ item.name }}</h4>
                <p>Item<br />{{ item.description }}</p>
                <div class="container">
                  <div class="row">
                    <div class="col stats">
                      {{ item.str }}<br>STR
                    </div>
                    <div class="col stats">
                      {{ item.dex }}<br>DEX
                    </div>
                    <div class="col stats">
                      {{ item.int }}<br>INT
                    </div>
                    <div class="col stats">
                      {{ item.cha }}<br>CHA
                    </div>
                  </div>
                </div>
                <div style="clear: both;"></div>
                <div *ngIf="item.traits">{{ item.traits }}</div>
              </div>
            </div>
            <p *ngIf="item.notes">{{ monsitemter.notes }}</p>
          </div>
        </div>
      </div>

      <div class="outcomes">
        <h4 *ngIf="decisions?.length > 0">Outcomes</h4>
        <div *ngFor="let decision of decisions">
          <button [disabled]="decision.disabled" id="door-{{ decision.name }}"
            class="mat-elevation-z3 btn-gradient btn btn-primary"
            (click)="makeDecision(decision.destination_node_id, game.id, decision.id)"><span
              [innerHtml]="decision.name"></span></button>
        </div>
      </div>
    </div>
  </div>
</div>
