@import "styles-variables";

@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300, 400,500,600,700');

html,
body {
  height: 100%;
}

.page-head .logo {
  margin: 10px 15px 30px;
}

.nav-light {
  display: none;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #D8D8D8;
  background: #232F65 url('assets/top-texture.png') repeat-x;
  font-weight: 300;
  background-repeat: no-repeat;
  background-attachment: fixed;
  letter-spacing: 0;
  line-height: 1.5em;
}

body.page-light {
  background: #fff;
}

strong {
  font-weight: 600;
}

p {
  margin-bottom: 1.5rem;
}

a {
  color: #D8D8D8 !important;
}

button.btn-gradient {
  background: linear-gradient(180deg, rgb(53, 91, 166) 0%, rgba(36, 48, 103, 1) 100%) !important;
  border: 2px solid #576cb2 !important;
  border-radius: 2px;
  font-weight: 300;
  padding: 10px 18px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 15px;
  width: 500px;
}

.bd-navbar {
  min-height: 4rem;
  background-color: #3f51b5;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 24px;

  .navbar-nav {
    .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
      color: #fff;

      &:hover {
        color: #fff;
      }
    }

    .navbar-brand {
      font-size: 22px;
    }
  }
}

.page-header {
  padding-left: 15px h1 {
    margin: 20px 0 10px;
  }
}

.storylist {
  h2 {
    margin-bottom: 20px;
  }
}

h1,
h2,
h3 {
  font-weight: 700;
  color: #fff;
}

h2 {
  font-size: 36px;
  margin: 10px 0 30px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 18px;
  font-weight: 600;
}

.page-light {
  color: #75777a;

  .page-head .logo {
    margin: 5px -15px 5px;
  }

  .btn-gradient {
    width: 100%;
    height: auto;
  }

  .nav-light {
    display: block;
    margin-bottom: 30px;
  }

  .nav-darK {
    display: none !important;
  }

  .nav-link {
    font-size: 18px;
    text-transform: uppercase;
    color: #808285;
    font-weight: 600;
  }

  .story {
    border: 1px solid #EBEBEB;
    padding: 3px 15px;
  }

  .story-hero {
    padding-top: 270px;
    margin-bottom: 60px;
    background: url('/assets/story-hero.png');

    .title {
      padding: 30px 20px 10px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .8) 100%) !important;
    }

    h2 {
      color: #fff;
      font-size: 36px;
    }

    position: relative;

    .play {
      width: 290px;
      position: absolute;
      bottom: -20px;
      left: 50%;
      margin-left: -140px;
    }
  }

  h1,
  h2,
  h3 {
    color: #75777a;
  }
}

.node-image {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  border: 1px solid #5469B1;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}

.info-card {
  border: 1px solid #5469B1;
  padding: 15px;
  background: linear-gradient(180deg, rgb(39, 54, 114) 0%, rgba(35, 47, 101, 1) 100%) !important;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
  margin: 15px 0;

  img {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .stats {
    font-weight: 600;
    text-align: center;
  }
}


.outcomes {
  margin-top: 30px
}

@media (min-width: 1100px) {
  .container {
    max-width: 1110px;
  }
}
