<div class="nav-light container-fluid page-head mat-elevation-z3">
  <div class="row">
    <div class="container">
      <div class="navbar">
        <div class="navbar-nav">
          <img class="logo" width="159" height="39" src="/assets/logo-light.png">
        </div>

        <div class="navbar-nav">
          <a class="nav-item nav-link" [routerLink]="['/']">Modules</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="story-hero">

        <div *ngIf="story" class="title">

          <h2>{{ story?.name }}</h2>
        </div>
        <button (click)="newGame(game_id)" class="mat-elevation-z3 btn-gradient btn btn-primary play">Play
          Module</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div *ngIf="story">
        <p>{{ story.description }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Characters</h2>
    </div>
  </div>
  <div class="col-4">

  </div>
</div>
